@import './variables.scss';


// All common styles
body {
  background-image: url('/assets/IWD_2023.png');// url('https://wtmbarcelona.com/assets/wtmbcn.png');
  background-repeat:repeat-y;
  background-size: auto;
  background-position: top center;
  background-color: #fff;
  max-width: 100%;
  font-family: mat-font-family($custom-typography);
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: mat-font-family($custom-typography);
  padding: $safety-zone-s 0;
  font-weight: 300;
}

