<section class="textimage__base section__base">
    <div class="atomic-container">
        <header class="textimage__header">
            <h2 class="textimage__hl">
                    Google's Women Techmakers program provides visibility, community, and resources for women in technology.
            </h2>
            <p class="textimage__txt">
                <b>This 2020, we are excited to announce the 5th edition of our annual event: International Women’s Day, on the 21st of March, 2020</b>
            </p>
            <p class="textimage__txt">
                Last year we had a full day of speaking breakouts in two tracks (one in Spanish and one in English), with over 150 attendees. This year we will have a lot more surprises, to continue to highlight and expose women talent, and contribute to reducing the industry gap.
            </p>
        </header>
        <section class="textimage__section atomic-style--italic atomic-style--light">
                <p class="textimage__txt">
                    <b>¡Nos complace presentar la quinta edición de nuestro evento anual: International Women’s Day, el día 21 de marzo de 2020!</b>
                </p>
                <p class="textimage__txt">
                    El año pasado, tuvimos una jornada entera de presentaciones y charlas en dos tracks (español e inglés), para un público de 150 participantes. Este año, ¡muchas más sorpresas! Para seguir impulsando el rol de la mujer, en tecnologías.
                </p>
        </section>
    </div>
</section>
