<section class="textimage__base section__base">
    <div class="atomic-container">
        <header class="textimage__header">
            <h2 class="textimage__hl">
                    Google's Women Techmakers program provides visibility, community, and resources for women in technology.
            </h2>
            <p class="textimage__txt">
                <b>This 2023, we are excited to announce the 6th edition of our annual event.</b>
            </p>
            <p class="textimage__txt">
                IWD Event will take place on March 25, it will be 100% in-person half-day event in Barcelona and as in previous years we seek to boost and promote the role of women in technologies through a track made up of a series of talks which is designed so that attendees do not miss anything during the event.
            </p>
        </header>
        <section class="textimage__section atomic-style--italic atomic-style--light">
                <p class="textimage__txt">
                    <b>¡Nos complace presentar la sexta edición de nuestro evento anual, International Women’s Day.</b>
                </p>
                <p class="textimage__txt">
                   El IWD Event se realizará el 25 de Marzo y será un evento de media jornada 100% presencial en Barcelona y como en años anteriores buscamos impulsar y promover el rol de la mujer en tecnologías a través un track compuesto de una serie de charlas el cual esta pensado para que los asistentes no se pierdan de nada durante el evento. 
                </p>
        </section>
    </div>
</section>
